# dependencies
node_modules/
.pnp.*

# next.js
.next/
out/
build/
dist/

# environment variables
.env
.env*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.vscode/
.idea/
*.swp

# macOS
.DS_Store
**/.DS_Store

# testing
coverage/

# misc
.vercel
*.pem
